<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

.mkdf-top-bar .widget .mkdf-info-icon .mkdf-icon-info-icon {
    position: relative;
    top: 3px;
    margin-right: 8px!important;
}

@media screen and (min-width: 50px) and (max-width: 679px) {
 .mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
    padding: 15px 0;
}
	.mkdf-page-footer .mkdf-column-content:not(:first-child) {
    margin-top: 5px;
}
}


 

@media screen and (min-width: 500px) and (max-width: 769px) {
.postid-10754 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .postid-10754 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
    padding-top: 35px !important;
}
	.postid-10755 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .postid-10755 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
    padding-top: 35px !important;
}
	.postid-10756 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .postid-10756 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
    padding-top: 35px !important;
}
}

@media screen and (min-width: 50px) and (max-width: 459px) {
.postid-10754 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .postid-10754 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
    padding-top: 25x !important;
}
	.postid-10755 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .postid-10755 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
    padding-top: 25px !important;
}
	.postid-10756 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .postid-10756 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
    padding-top: 25px !important;
}
}


@media screen and (min-width: 770px) and (max-width: 1000px) {
.postid-10754 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .postid-10754 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
    padding-top: 50px !important;
}
	.postid-10755 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .postid-10755 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
    padding-top: 50px !important;
}
	.postid-10756 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .postid-10756 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
    padding-top: 50px !important;
}
}
</style>
<!-- end Simple Custom CSS and JS -->
